extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const currentUrl = "changeability-broken.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  header.header-test-broken
    .container
      .header-test-broken__wrapper
        span.header-test-broken__logo
          +icon("img/sprite_auto.svg#liga-logo", 192, 24)
        .header-test-broken__contacts.header-contacts-broken
          a.header-contacts-broken__link(href="mailto:mail@mail.com") Почта: testmail1122@mail.com
          a.header-contacts-broken__link(href="#") Адрес: г. Москва, Красная площадь
          a.header-contacts-broken__link(href="tel:88008008000") Телефон: 8(800)800-80-00
        .header-test-broken__dropdown.dropdown-broken.dropdown-broken--left(tabindex="0")
          span.dropdown-broken__button Меню
          ul.dropdown-broken__list
            li.dropdown-broken__item
              a.dropdown-broken__link(href="index.html") Главная страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="sitemap.html") Разводящая страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="ui-kit.html") UI-kit
            li.dropdown-broken__item
              a.dropdown-broken__link(href="index.html") Главная страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="sitemap.html") Разводящая страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="ui-kit.html") UI-kit
            li.dropdown-broken__item
              a.dropdown-broken__link(href="index.html") Главная страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="sitemap.html") Разводящая страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="ui-kit.html") UI-kit
            li.dropdown-broken__item
              a.dropdown-broken__link(href="index.html") Главная страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="sitemap.html") Разводящая страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="ui-kit.html") UI-kit
            li.dropdown-broken__item
              a.dropdown-broken__link(href="index.html") Главная страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="sitemap.html") Разводящая страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="ui-kit.html") UI-kit
            li.dropdown-broken__item
              a.dropdown-broken__link(href="index.html") Главная страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="sitemap.html") Разводящая страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="ui-kit.html") UI-kit
            li.dropdown-broken__item
              a.dropdown-broken__link(href="index.html") Главная страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="sitemap.html") Разводящая страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="ui-kit.html") UI-kit
            li.dropdown-broken__item
              a.dropdown-broken__link(href="index.html") Главная страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="sitemap.html") Разводящая страница
            li.dropdown-broken__item
              a.dropdown-broken__link(href="ui-kit.html") UI-kit


  main
    section.section.breadcrumbs-section
      .container
        h2.section__title Хлебные крошки
        .breadcrumbs-broken
          ul.breadcrumbs-broken__list
            li.breadcrumbs-broken__item
              a.breadcrumbs-broken__link(href="#") Главная
            li.breadcrumbs-broken__item
              a.breadcrumbs-broken__link(href="#") Новости
            li.breadcrumbs-broken__item
              span.breadcrumbs-broken__link.breadcrumbs-broken__link--current Новость
    section.section.text-section
      .container
        h2.section__title Текстовый блок
        .text-block-broken
          h3.text-block-broken__title Добро пожаловать в онбординг
          p.text-block-broken__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, eum quisquam expedita sed iusto, repellat aliquam, assumenda cumque eligendi tempore totam mollitia suscipit aliquid nulla ve lit! Eaque repellendus ad odit.
        .text-block-broken.text-block-broken--chess
          h3.text-block-broken__title Добро пожаловать в онбординг
          p.text-block-broken__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, eum quisquam expedita sed iusto, repellat aliquam, assumenda cumque eligendi tempore totam mollitia suscipit aliquid nulla ve lit! Eaque repellendus ad odit.
          p.text-block-broken__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, eum quisquam expedita sed iusto, repellat aliquam, assumenda cumque eligendi tempore totam mollitia suscipit aliquid nulla ve lit! Eaque repellendus ad odit.
          p.text-block-broken__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, eum quisquam expedita sed iusto, repellat aliquam, assumenda cumque eligendi tempore totam mollitia suscipit aliquid nulla ve lit! Eaque repellendus ad odit.
    section.section.card-section
      .container
        h2.section__title Карточки товаров
        section.cards-broken
          ul.cards-broken__list
            li.cards-broken__item
              +card-broken()
            li.cards-broken__item
              +card-broken()
            li.cards-broken__item
              +card-broken()

        h2.section__title Пагинация
        .pagination-broken
          .pagination-broken__control-block
            a.pagination-broken__control(href="#", aria-label="Переход назад") Назад
          ul.pagination-broken__list
            li.pagination-broken__item
              span.pagination-broken__link.pagination-broken__link--current 1
            li.pagination-broken__item
              a.pagination-broken__link(href="#", aria-label="Переход на страницу 2") 2
            li.pagination-broken__item
              a.pagination-broken__link(href="#", aria-label="Переход на страницу 3") 3
            li.pagination-broken__item
              a.pagination-broken__link(href="#", aria-label="Переход на страницу 4") 4
            li.pagination-broken__item
              a.pagination-broken__link(href="#", aria-label="Переход на страницу 5") 5
          .pagination-broken__control-block
            a.pagination-broken__control(href="#", aria-label="Переход вперёд") Вперёд
  footer.footer-test-broken
    .container
      .footer-test-broken__wrapper
        .footer-test-broken__socials.socials
          ul.socials__list
            li.socials__item
              a.socials__link(href="#", aria-label="Мы вконтакте")
                +icon("img/sprite_auto.svg#icon-vk", 21, 21)
            li.socials__item
              a.socials__link(href="#", aria-label="Мы вконтакте")
                +icon("img/sprite_auto.svg#icon-vk", 21, 21)
            li.socials__item
              a.socials__link(href="#", aria-label="Мы вконтакте")
                +icon("img/sprite_auto.svg#icon-vk", 21, 21)
        ul.footer-test-broken__link-list
          li.footer-test-broken__link-item
            a.footer-test-broken__link(href="#") Пункт 1
          li.footer-test-broken__link-item
            a.footer-test-broken__link(href="#") Пункт 2
          li.footer-test-broken__link-item
            a.footer-test-broken__link(href="#") Пункт 3
        .footer-test-broken__logo
          +icon("img/sprite_auto.svg#liga-logo", 192, 24)
