extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const currentUrl = "changeability-explaining.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    section
      .container
        h2 Шапка проекта
        ol
          li Элементы списка контактов не переносятся
          li При разрешении переноса в списке контактов отсутствуют отступы между рядами
          li При удалении списка контактов меню прилипнет к логотипу
          li У списка контактов отсутствуют отступы, при переполнении или уменьшении ширины экрана список контактов прилипнет к лого и меню
          li В выпадающем меню не ограничена высота, список может быть больше высоты экрана
        h2 Хлебные крошки
        ol
          li У элементов списка отсутствуют отступы вниз, при выстраивании сетки в две строки элементы слипаются
          li Стрелка у последнего элемента убирается через модификатор, если на поледний элемент не повестить модификатор (по причине того что он должен быть активным), то у него сохранится стрелка
          li У списка установлен justify-content: space-between; Это свойство крайне не рекомендуется устанавливать в блоки с возможным переполнением, так как при переполнении элементы должны идти с лева на право если иное поведение не предусмотрено дизайном.
        h2 Текстовый блок
        ol
          li У последнего текстового блока text-block-broken не удалён отступ снизу
          li В первом текстовом блоке у параграфа отсутствует отступ, при добавлении новых параграфов они слипнуться
          li Во втором текстовом блоке, позиционирование второго параграфа сделано с помощью nth-child(n), при добавлении новых параграфов они не будут идти в шахматном порядке
          li Во втором текстовом блоке, отступы второго параграфа сделаны с помощью nth-child(n), при добавлении новых параграфов они будут слипаться
        h2 Карточки товаров
        ol
          li У списка установлен justify-content: space-between; Это свойство крайне не рекомендуется устанавливать в блоки с возможным переполнением, так как при переполнении элементы должны идти с лева на право если иное поведение не предусмотрено дизайном
          li При переполнении списка отсутствует отступ между рядами карточек, карточки слипаются
          li У карточки не указан overflow: hidden; картинка вывалиывается из карточки
          li При вставке высокой картинки карточка растягивается
          li У контентного блока в карточке отсутствует внутренний отступ сверху, при удалении заголовка описание прилипнет к картинке
          li При переполнении контентного блока карточки не подстраиваются под высоту максимальной карточки
          li Если поправить высоту карточек при переполнении то низ растянутых карточек будет пустой
          li Между термином и определением отсутствует отступ
        h2 Пагинация
        ol
          li У ссылок отсутствуют отступы
          li У ссылок зафиксирована ширина
          li У списка есть отступ с левой стороны. При удалении ссылки назад список не будет прижат к краю.
          li При переполнении и переносе на новую строку ссылки слипаются
        h2 Подвал проекта
        ol
          li Между блоками в футере отсутствуют отступы, при переполнении они буду слипаться
          li При переполнении соц сетей, смещается центральный блок с ссылками
