mixin cards()
  section.cards
    .container
      h2.cards__title Карточки товаров
      ul.cards__list
        li.cards__item
          +card()
        li.cards__item
          +card()
        li.cards__item
          +card()
