mixin greeting()
  section.greeting
    .container
      .greeting__wrapper
        h2.greeting__title Добро пожаловать в проект "Онбординг"!
        p.greeting__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
      .greeting__wrapper.greeting__wrapper--chess
        h2.greeting__title Добро пожаловать в проект "Онбординг"!
        p.greeting__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
        p.greeting__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
        p.greeting__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
        p.greeting__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
      .greeting__wrapper
        h2.greeting__title Добро пожаловать в проект "Онбординг"!
        p.greeting__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
        p.greeting__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
        p.greeting__text.greeting__text--right Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
        p.greeting__text.greeting__text--right Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil totam quasi dolores voluptates alias rem laudantium excepturi laborum sed ratione amet non quia architecto quae hic, autem iste officiis?
