.text-block {
  margin: 0 0 40px 0;

  &:last-child {
    margin: 0;
  }

  &__title {
    margin: 0 0 20px 0;

    font-size: 40px;
    line-height: 100%;
  }

  &__text {
    position: relative;

    margin: 0 0 40px 0;
    padding-right: 20%;

    font-size: 24px;
    line-height: 100%;

    &:last-child {
      margin: 0;
    }
  }

  &--chess {
    .text-block__text {
      &:nth-child(odd) {
        padding-right: 0;
        padding-left: 20%;
      }
    }
  }
}
